<mat-toolbar color="primary">ngSketchr</mat-toolbar>
<mat-drawer-container class="example-container">
	<mat-drawer mode="side" opened="true">
		<div>
			<h2>Background Color</h2>
			<div class="square trans" (click)="backgroundColor = null"></div>
			<div class="square white" (click)="backgroundColor = 'white'"></div>
			<div class="square cyan" (click)="backgroundColor = 'cyan'"></div>
			<div class="square magenta" (click)="backgroundColor = 'magenta'"></div>
			<div class="square yellow" (click)="backgroundColor = 'yellow'"></div>
		</div>
		<div>
			<h2>Background Image</h2>
			<input type="file" (change)="onFileChange($event)">
			<button type="button" (click)="backgroundImage = null">Clear</button>
			<h3>Background Image Zoom</h3>
			<select [(ngModel)]="backgroundMode">
				<option value="fit">Fit</option>
				<option value="fill">Fill</option>
			</select>
		</div>

		<h2>Pen Color</h2>
		<div *ngFor="let color of colors"
			class="circle {{ color }} large"
			(click)="setColor(color, sizes[size])">{{ color }}</div>

		<h2>Pen Size</h2>
		<div *ngFor="let size of ['large', 'medium', 'small']"
			class="circle black {{ size }}"
			(click)="setSize(sizes[size])">{{ size }}</div>
	</mat-drawer>
	<mat-drawer-content>
		<div class="frame">
			<app-canvas #mycanvas
				width="{{ width }}"
				height="{{ height }}"
				color="{{ color }}"
				size="{{ size }}"
				[backgroundColor]="backgroundColor"
				[backgroundImage]="backgroundImage"
				[backgroundMode]="backgroundMode"
				(canUndo)="canUndo = $event"
				(canRedo)="canRedo = $event"></app-canvas>
		</div>
		<mat-toolbar>
			<a mat-icon-button color="primary"
				href="{{ canUndo ? canvas.downloadUri : '' }}"
				[download]="'image.png'" [disabled]="!canUndo">
				<mat-icon matTooltip="Download">download</mat-icon>
			</a>
			<span class="mat-caption">|</span>
			<button mat-icon-button [disabled]="!canUndo" (click)="replay()">
				<mat-icon matTooltip="Replay">replay</mat-icon>
			</button>
			<button mat-icon-button color="warn" [disabled]="!canUndo && !canRedo" (click)="reset()">
				<mat-icon matTooltip="Reset">delete</mat-icon>
			</button>
			<span class="mat-caption">|</span>
			<button mat-icon-button [disabled]="!canUndo" (click)="canvas.undo()">
				<mat-icon matTooltip="Undo">undo</mat-icon>
			</button>
			<button mat-icon-button [disabled]="!canRedo" (click)="canvas.redo()">
				<mat-icon matTooltip="Redo">redo</mat-icon>
			</button>
		</mat-toolbar>
	</mat-drawer-content>
</mat-drawer-container>
