<div class="frame">
	<app-canvas #mycanvas
		width="{{ width }}"
		height="{{ height }}"
		color="{{ color }}"
		size="{{ size }}"
		(canUndo)="canUndo = $event"
		(canRedo)="canRedo = $event"></app-canvas>
</div>
<!-- <div>
	<div class="square trans" (click)="backgroundColor = null"></div>
	<div class="square white" (click)="backgroundColor = 'white'"></div>
	<div class="square cyan" (click)="backgroundColor = 'cyan'"></div>
	<div class="square magenta" (click)="backgroundColor = 'magenta'"></div>
	<div class="square yellow" (click)="backgroundColor = 'yellow'"></div>
</div>
<input type="file" (change)="onFileChange($event)">
<button type="button" (click)="backgroundImage = null">Clear</button>
<div *ngIf="backgroundImage != null">
	<a (click)="backgroundStyle = 'auto'">Auto</a>
	<a (click)="backgroundStyle = 'contain'">Fit</a>
	<a (click)="backgroundStyle = 'cover'">Fill</a>
</div> -->
<div *ngFor="let color of colors">
	<div *ngFor="let size of ['large', 'medium', 'small']"
		class="circle {{ size }} {{ color }}"
		(click)="setColor(color, sizes[size])">{{ color }}</div>
</div>

<button [disabled]="!canUndo" (click)="replay()">Replay</button>
<button [disabled]="!canUndo && !canRedo" (click)="reset()">Reset</button>
<button [disabled]="!canUndo" (click)="canvas.undo()">Undo</button>
<button [disabled]="!canRedo" (click)="canvas.redo()">Redo</button>
